@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin-left: 0.1rem;
  padding: 0;
}
.toolbar {
  display: flex;
  gap: 8px;
  padding: 8px;
  background-color: #f0f0f0;
  border-bottom: 1px solid #ddd;
}

.toolbar-button {
  border: none;
  background-color: black;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.toolbar-button:hover {
  background-color: #333;
}
